{minimum_otp_vsn, "21.0"}.
{erl_opts, [debug_info]}.
{deps, [{cowboy}]}.

{shell, [
  {dev_mode, true},
  {config, "config/sys.config.src"},
  {vm_args_src, "config/vm.args"},
  {apps, [piDNS]}
]}.

{relx, [
  {release, {ioc2rpz, {cmd, "grep piDNS_ver include/piDNS.hrl | awk -F'\"' '{printf $2}'"}}, [piDNS]},

  {dev_mode, true},
  {include_erts, false},
  {sys_config_src, "config/sys.config.src"},
  {vm_args_src, "config/vm.args"},

  {extended_start_script, true}
]}.
